<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "br.com.tavernadojedi.gametranslate"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>.:: Lopan .::. Fale várias linguas... ::.</name>

  <description>
      Vamos conhecer como se falam as coisas em vários idiomas?
  </description>

  <author href="https://tavernadojedi.com.br" email="comercial@tavernadojedi.com.br">
      Caco de Paula.
  </author>

	<incon src="icon.png" />

</widget>